/*#EE693F,
#F69454,
#FCFDFE,
#739F3D*/


body {
  background-color: #FCFDFE;
  font-family: sans-serif;
}
header {
  height: 150px;
  background-color: #EE693F;
  color: #FCFDFE;
}

nav {
  color: #FCFDFE;
  display: inline-block;
  vertical-align: baseline;
  margin: 100px 20px 20px;
}

#nav-aside {
  float:right;
  margin: 20px 20px 40px;
}

#sign-in, #logo {
  display: block;
}

#logo {
  font-size: 40px;
  font-weight: bold;
}

#sign-in {
  margin-bottom: 50px;
  color: #A9E200;
  /*#50B948;*/
}

.nav-choice {
  margin: 0 10px;
}

.page-heading {
  font-weight: bold;
  font-size: 30px;
  margin: 20px;
  color: #EE693F;
}

.card {
  height: 360px;
  width: 250px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin: 20px;
}

.image {
  display: inline-block;
  height: 125px;
  width: 250px;
  background-image: url("./images/carrot-1.jpg");
}

.one {
  background-image: url("./images/carrot-1.jpg");
}

.two {
  background-image: url("./images/carrot-2.jpg");
}

.three {
  background-image: url("./images/carrot-3.jpg");
}

.four {
  background-image: url("./images/carrot-5.jpg");
}

.image aside {
  display: inline-block;
  float: right;
}

.image span {
  display: block;
}

.image button {
  vertical-align: top;
}

.name {
  margin: 12px 12px 3px 12px;
  font-size: 20px;
  color: #EE693F;
}

.date {
  font-size: 16px;
  margin: 0 0 12px 12px;
  color: #F69454;
}

.website {
  background-color: #FFD4AA;
  margin: 0 12px;
  height: 25px;
  padding: 12px;
  color: #EE693F;
}

.playlist, .attachments {
  font-size: 12px;
  margin: 12px 12px 3px;
  color: #EE693F;
}

.playlist-name, .attachments-number {
  margin: 0 12px;

}

.attachments-number, .view-number {
  font-size: 30px;
}

.playlist-name {
  color: #EE693F;
}

.attachments-number {
  color: #A9E200;
}
.view-aside {
  margin: 12px 12px 0 0;
  color: white;
}

#video-icon, #meal-icon, #talk-icon {
  width: 20px;
  height: 20px;
}

.videos, .recipes {
  color: #FFD4AA;
}

.view-button {
  margin: 12px 0 0 12px;
  background-image: url("./images/carrot-icon.svg");
  background-size: contain;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
