body {
  background-color: #FCFDFE;
  font-family: sans-serif;
}

/*Header */
header {
  background-color: #EE693F;
  color: #FCFDFE;
  height: 120px;
}

nav {
  color: #FCFDFE;
  display: inline-block;
  margin: 80px 20px 20px;
  vertical-align: baseline;
}

#nav-aside {
  float: right;
  margin: 20px 20px 40px;
}

#sign-in, #logo {
  display: block;
}

#logo {
  font-size: 40px;
  font-weight: bold;
}

#sign-in {
  color: #A9E200;
  margin-bottom: 20px;
}

.nav-choice {
  margin: 0 10px;
}

#video-icon, #meal-icon, #talk-icon, #person-icon {
  height: 20px;
  width: 20px;
}

.videos, .recipes {
  color: #FFD4AA;
}

/*Page Body*/

.page-heading {
  color: #EE693F;
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
}

/*Cards*/

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 360px;
  margin: 20px;
  width: 250px;
}

.image {
  display: inline-block;
  height: 125px;
  width: 250px;
}

.image aside {
  display: inline-block;
  float: right;
}

.image span {
  display: block;
}

.image button {
  vertical-align: top;
}

.one {
  background-image: url("./images/carrot-1.jpg");
}

.two {
  background-image: url("./images/carrot-2.jpg");
}

.three {
  background-image: url("./images/carrot-3.jpg");
}

.four {
  background-image: url("./images/carrot-5.jpg");
}

.name {
  color: #EE693F;
  font-size: 20px;
  margin: 12px 12px 3px 12px;
}

.date {
  color: #F69454;
  font-size: 16px;
  margin: 0 0 12px 12px;
}

.website {
  background-color: #FFD4AA;
  color: #EE693F;
  height: 25px;
  margin: 0 12px;
  padding: 10px 8px;
}

.playlist, .attachments {
  color: #EE693F;
  font-size: 12px;
  margin: 12px 12px 3px;
}

.playlist-name, .attachments-number {
  margin: 0 12px;
}

.attachments-number, .view-number {
  font-size: 30px;
}

.playlist-name {
  color: #EE693F;
}

.attachments-number {
  color: #A9E200;
}

.view-aside {
  color: white;
  margin: 12px 12px 0 0;
}

.view-button {
  margin: 12px 0 0 12px;
  background-image: url("./images/carrot-icon.svg");
  background-size: contain;
  background-color: transparent;
  border: none;
  height: 50px;
  width: 50px;
}

@media screen and (max-width: 650px){
  #nav-aside {
    float:none;
    margin-top: -130px;
  }

  #sign-in, #logo {
    display: inline-block;
    margin-left: 20px;
  }

  header {
    height: 150px;
  }
  nav {
    margin-top: 100px;
  }
}
